table {
  border-collapse: collapse;
}

td {
  background-color: grey;
  border: 3px solid white;
  font-size: 80px;
  color: blue;
  border-radius: 10px 10px 10px 10px;
}

.new_span {
  width: 226px;
}

.input-prepend span.pre_text {
  width: 55px;
}
.input-prepend .span1 {
  width: 93px;
}
.input-prepend {
  margin-bottom: 10px;
}
.clr {
  clear: both;
  height: 0;
}
.input-append .win_times {
  background: #fff;
  width: 101px;
}
.input-append .win_text {
  width: 52px;
}
